body {
background: coral;
text-align: center;
}
#main{
	width: 1000px;
	height: 600px;
	background: white;
	margin: 25px auto;
	padding: 10px;
}
h1 {
	text-align: center;
	font-family:"Times New Roman";
    font: 24pt;
    color: #1c801c;
}
hr {
	height: 2px;
	color:rgba(255, 0, 0, 0.733);	
}
p {
font-family:"Calibri";
font-size: 14pt;
text-align: center;
color: #000000
;
}
.EOD3 {
width: 100px;
height: 101px;

}
span.myRedD{
	color:#FF0000;
 }
 span.myRedI{
	color:#FF0000;
 }
 span.myRedV{
	color:#FF0000;
 }
 span.myRedE{
	color:#FF0000;
 }
 span.myRedR{
	color:#FF0000;
 }
 span.myRedS{
	color:#FF0000;
 }
 span.myRedI{
	color:#FF0000;
 }
 span.myRedT{
	color:#FF0000;
 }
 span.myRedY{
	color:#FF0000;
 }
 span.myRedQ{
	color:#FF0000;
 }
 span.myRedU{
	color:#FF0000;
 }
 span.myRedA{
	color:#FF0000;
 }
 span.myRedL{
	color:#FF0000;
 }
 img {
    margin: 20px;
	transition: all 400ms;
 }